<div class="dialog">
    <h2 mat-dialog-title>Add New Task</h2>
    <mat-dialog-content>
        <form [formGroup]="form" fxLayout="column" fxLayoutAlign="start">
            <ng-container *ngIf="data && data.gender">
                <input type="hidden" formControlName="id" [value]="data.tasks.id">
            </ng-container>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Task Name</mat-label>
                    <input matInput formControlName="task_name" required>
                    <mat-error>Task Name is required</mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Task Duration (in seconds)</mat-label>
                    <input type="number" matInput formControlName="task_duration" required>
                    <mat-error>Task Duration is required</mat-error>
                </mat-form-field>

            </div>

        </form>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutGap="5px">
        <button [disabled]="form.invalid" class="mat-raised-button mat-primary" (click)="save()">Save</button>
        <button mat-dialog-close class="mat-raised-button" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>