<div>
    <h2 style="margin-left: 20px">Live Timer</h2>

    <div class="container">
        <mat-icon class="scroll" (click)="scroll()" aria-hidden="false" aria-label="Example home icon">mode_standby
        </mat-icon>
        <ng-container>
            <span *ngIf="isTImerOn" class="timer">Your timer is on!</span>
        </ng-container>
    </div>

    <div class="air">
        <div #id class="ball"></div>
    </div>
    <div class="bounds">

        <div *ngFor="let time of times">
            <div class="time">{{time}}</div>
        </div>

        <div style="z-index: -1; border-bottom: 1px solid gray;" *ngFor="let task of tasks" class="content" fxLayoutAlign="start start">

            <div fxFlex="100" class="sec">
                <div class="name">{{task.task_name}}</div>
            </div>

        </div>

    </div>
</div>