/* Add application styles & imports to this file! */

.bounds {
    /* background-color: goldenrod; */
    height: 215px;
    margin: 100px;
}

.name {
    position: relative;
    right: 17rem;
}

.timer {
    margin-left: 31px;
    position: relative;
    top: -7px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.time {
    margin-bottom: 47px;
    position: relative;
    left: 30rem;
    position: relative;
}

.sec {
    background: gainsboro;
    color: black;
    padding-top: 20px;
    text-align: center;
    height: 219px;
}

.content {
    background-color: white;
    min-width: 300px;
    /* padding-top: 20px; */
    height: 103%;
    /*height: 400px;*/
    display: flex;
    position: relative;
    top: -29.4rem;
}

.container {
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.scrolling-text {
    position: absolute;
    white-space: nowrap;
}

.air {
    background: #ccc;
    transform: scaleY(-1);
    width: 475px;
    margin-left: 100px;
    position: relative;
    top: 99px;
}

@media (min-width: 1900px) {
    .air {
        width: 759px;
    }
    .time {
        left: 48rem;
    }
    .name {
        right: 26rem;
    }
}

.ball {
    position: relative;
    background: grey;
    width: 600;
    height: 3px;
    /* border-radius: 50%; */
}

.scroll {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20rem;
}


/* Below doesn't work to pause */

.scrolling-text:hover,
.container:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}