<div style="margin-top: 20px;" class="main">
    <div class="live-timer">
        <app-live-timer></app-live-timer>
    </div>

    <div class="task-tables">
        <app-task-tables></app-task-tables>
    </div>
</div>