<h2>Tasks Tables</h2>

<button class="button" mat-raised-button (click)="openDialog()">Add Task</button>
<div>

    <table>
        <tr>
            <th>Task Name</th>
            <th>Task Duration (in seconds)</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let task of tasks">
            <td>{{task.task_name}}</td>
            <td>{{task.task_duration}}</td>
            <td fxLayoutGap="5px">
                <button (click)="onEdit(task)">Edit</button>
                <button (click)="onDelete(task)">Delete</button>
            </td>
        </tr>
    </table>
</div>