table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 31rem;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px 10px;
    /* transition-duration: 0.4s; */
    cursor: pointer;
    position: relative;
    left: 22.5rem;
    border-radius: 4px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}